# Ignore build directories
/build/
**/build/
build-logic/build/
out/
dist/
target/
bin/
obj/
.gradle/
.idea/
.vscode/

# Ignore compiled files
*.class
*.jar
*.war
*.ear
*.o
*.so
*.dll
*.exe

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/